* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  position: relative;
}

.infographic {
  height: 100%;
  width: 100%;
  background: gray;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}


article {
  width: calc(100% - 2px);
  height: 33%;
  border: 1px solid white;
}


.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.axis text {
	font-family: sans-serif;
	font-size: 11px;
}

.bar rect {}

.bar text {
	fill: #fff;
	font: 10px sans-serif;
}

.bar:hover rect {
	stroke: #fff;
	stroke-width: 2px;
}
